@font-face {
  font-family: "YandexSansLogotype-Light";
  src: url('../fonts/YandexSansDisplay-Light.woff') format('woff'),
       url('../fonts/YandexSansDisplay-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}