@media (min-width: 1365.9px)

  .container
    width: 1366px
    margin: 0 auto

  .header
    position: static
    justify-content: flex-start
    align-items: center
    width: 1326px
    padding: 23px 0 21px 40px
    border-bottom: 1px solid #f0f0f0

  .logo-icon
    margin-bottom: 6px

  .menu
    margin: 0 0 0 50px

    &-mobi-icon
      display: none

      &_close
        display: none

    &-list
      position: static
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: center
      width: 300px
      height: auto
      padding: 0
      visibility: visible
      opacity: 1

      &__item
        position: static
        width: auto
        margin-right: 26px
        border-bottom: none
        visibility: visible
        opacity: 1

        &:first-child
          margin-top: 0
          margin-right: 28px

        &:nth-child(2) .menu-list__link
          color: $txt-black
          opacity: .6

        &:nth-child(3) .menu-list__link
          color: $txt-black
          opacity: .6


      &__link
        width: auto
        padding: 14px 0

  .content
    flex-direction: row
    flex-wrap: wrap
    align-content: flex-start
    width: 1326px
    margin-top: 30px
    padding-left: 40px

  .pers-info
    margin-right: 26px

    &__head
      display: block
      margin: -1px 0 19px -1px
      line-height: 21px

    &__cont
      flex-direction: row
      width: auto
      margin-left: 0

  .greet-msg
    width: 360px
    padding: 26px 0 0 25px

  .owner
    margin-bottom: 5px
    font-size: 27px
    line-height: 31px

  .home-info
    margin-bottom: 25px
    font-size: 14px
    line-height: 16px

  .weather

    &__loc
      margin-right: 45px
      font-size: 14px
      line-height: 16px

    &__temp
      margin-top: 4px
      font-size: 36px
      line-height: 42px

      &:nth-child(4)
        margin-right: 6px

    &__icon
      margin-top: 1px
      width: 26px
      height: 26px

  .devices
    flex-direction: column
    width: auto
    height: 311px
    margin: 20px 20px 0 25px
    padding-bottom: 0
    overflow-x: hidden
    overflow-y: scroll

    &__item
      min-width: auto
      width: 185px
      margin: 0 0 15px

  .item

    &__sun_off
      margin-top: 14px

    &__clock
      margin: 14px 0 0 14px

  .fav-scripts
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    align-content: flex-start
    width: 630px
    margin: 0 40px 0 0

    &__head
      margin-left: 0

    &__navi
      display: block
  
  .sec-navi

    &__btn_left, &__btn_right
      display: inline-block
      width: 16px
      height: 16px
      text-decoration: none
      background: no-repeat center/contain
  
    &__btn_left
      margin-right: 10px
      background-image: url(../images/Icons/M_Copy_left@1x.png)
      background-image: -webkit-image-set(url(../images/Icons/M_Copy_left@2x.png) 2x, url(../images/Icons/M_Copy_left@1x.png) 1x)
      background-image: image-set(url(../images/Icons/M_Copy_left@2x.png) 2x, url(../images/Icons/M_Copy_left@1x.png) 1x)
      background-image: url(../images/Icons/M_Copy_left.svg)

    &__btn_right
      background-image: url(../images/Icons/M_Copy_left@1x.png)
      background-image: -webkit-image-set(url(../images/Icons/M_Copy_left@2x.png) 2x, url(../images/Icons/M_Copy_left@1x.png) 1x)
      background-image: image-set(url(../images/Icons/M_Copy_left@2x.png) 2x, url(../images/Icons/M_Copy_left@1x.png) 1x)
      background-image: url(../images/Icons/M_Copy_left.svg)
      +prefixes(transform, "rotate(180deg)")

  .scripts
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    align-content: flex-start
    width: 100%
    margin: 0
    overflow-y: hidden

    &__item
      margin-right: 15px

      &:nth-child(3), &:nth-child(6), &:nth-child(9)
        margin-right: 0

  .fav-devices
    justify-content: flex-start
    align-items: center
    margin-top: 29px

    &__head
      margin: 0

    &__navi
      display: block
      align-self: flex-end
      height: 16px
      margin: 0 0 2px 639px

    &__types
      position: static

    & .devices
      flex-direction: row
      width: 1326px
      height: auto
      margin: 20px 0 0 0
      overflow-y: hidden
      overflow-x: scroll

      &__item
        min-width: 185px
        width: auto
        margin-bottom: 0
  
  .types
  
    &-mobi-icon
      display: none
    
    &-list
      position: static
      width: auto
      height: auto
      margin-left: 13px
      background: none
      border-radius: 0
      visibility: visible
      opacity: 1

      &__item
        position: static
        display: inline-block
        width: auto
        margin: 0 6px 0 0
        padding: 7px 11px 8px 15px
        background-color: $bg-lgray
        +prefixes(border-radius, "15px")
        opacity: 1
        visibility: visible
  
        &:first-child
          margin-top: 0
          background-color: $bg-yellow

        &:nth-child(2)
          padding-right: 14px

        &:nth-child(4)
          margin-right: 8px
          padding-right: 14px
  
        &:last-child
          margin-right: 0
          padding-right: 13px