.sec-txt_s13, .sec-txt {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.sec-txt_b, .sec-txt_s24b, .sec-txt_s18b, .sec-txt_s16b, .sec-txt_s13b {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.item__desc, .greet-msg, .pers-info__cont, .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@font-face {
  font-family: "YandexSansLogotype-Light";
  src: url("../fonts/YandexSansDisplay-Light.woff") format("woff"), url("../fonts/YandexSansDisplay-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

.sec-txt {
  font-size: 12px;
  line-height: 14px;
}
.sec-txt_s13 {
  font-size: 13px;
  line-height: 15px;
}
.sec-txt_s13b {
  font-size: 13px;
  line-height: 15px;
}
.sec-txt_s16b {
  font-size: 16px;
  line-height: 20px;
}
.sec-txt_s18b {
  font-size: 18px;
}
.sec-txt_s24b {
  font-size: 24px;
  line-height: 28px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 335px;
  padding: 13px 20px 15px 20px;
  background-color: #ffffff;
}

.logo-icon {
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 110px;
  height: 38px;
}
.logo-icon__pic {
  display: block;
  width: 110px;
  height: 38px;
}

.menu {
  margin-top: 13px;
}
.menu-mobi-icon {
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 16px;
  height: 14px;
  background: #ffffff no-repeat center/cover;
  background-image: url(../images/icon_list_m.png);
  background-image: -webkit-image-set(url(../images/icon_list_m@2x.png) 2x, url(../images/icon_list_m@1x.png) 1x);
  background-image: image-set(url(../images/icon_list_m@2x.png), url(../images/icon_list_m@1x.png));
  background-image: url(../images/icon_list_m.svg);
}
.menu-mobi-icon_close {
  position: absolute;
  top: 26px;
  right: 20px;
  z-index: 4;
  display: block;
  width: 16px;
  height: 14px;
  visibility: hidden;
}
.menu-list {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 48px 10px;
  width: auto;
  height: 4px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear .1s, height .75s ease-out .1s, opacity .3s linear 0s;
  -moz-transition: visibility 0s linear .1s, height .75s ease-out .1s, opacity .3s linear 0s;
  -ms-transition: visibility 0s linear .1s, height .75s ease-out .1s, opacity .3s linear 0s;
  -o-transition: visibility 0s linear .1s, height .75s ease-out .1s, opacity .3s linear 0s;
  transition: visibility 0s linear .1s, height .75s ease-out .1s, opacity .3s linear 0s;
}
.menu-list__item {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #333;
  opacity: 0;
  list-style-type: none;
  visibility: hidden;
  -webkit-transition: visibility 0s linear, opacity .35s ease-out;
  -moz-transition: visibility 0s linear, opacity .35s ease-out;
  -ms-transition: visibility 0s linear, opacity .35s ease-out;
  -o-transition: visibility 0s linear, opacity .35s ease-out;
  transition: visibility 0s linear, opacity .35s ease-out;
}
.menu-list__item:first-child {
  margin-top: 66px;
  -webkit-transition-delay: .25s, .35s;
  -moz-transition-delay: .25s, .35s;
  -ms-transition-delay: .25s, .35s;
  -o-transition-delay: .25s, .35s;
  transition-delay: .25s, .35s;
}
.menu-list__item:nth-child(2) {
  -webkit-transition-delay: .25s, .6s;
  -moz-transition-delay: .25s, .6s;
  -ms-transition-delay: .25s, .6s;
  -o-transition-delay: .25s, .6s;
  transition-delay: .25s, .6s;
}
.menu-list__item:last-child {
  -webkit-transition-delay: .25s, .85s;
  -moz-transition-delay: .25s, .85s;
  -ms-transition-delay: .25s, .85s;
  -o-transition-delay: .25s, .85s;
  transition-delay: .25s, .85s;
}
.menu-list__link {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 11px 0;
  color: #333333;
  text-decoration: none;
}

#menu-list:target {
  height: 200px;
  opacity: 1;
  visibility: visible;
}
#menu-list:target ~ .menu-mobi-icon_close {
  visibility: visible;
}
#menu-list:target > .menu-list__item {
  opacity: 1;
  visibility: visible;
}

.content {
  width: 355px;
  height: auto;
  margin-top: 66px;
}

.pers-info {
  margin-right: 20px;
}
.pers-info__head {
  display: none;
}
.pers-info__cont {
  width: 335px;
  height: auto;
  margin-left: 20px;
  background: #f7f7f7 no-repeat;
  background-position: 40% 29%;
  background-image: url(../images/bg@1x.png);
  background-image: -webkit-image-set(url(../images/bg@2x.png) 2x, url(../images/bg@1x.png) 1x);
  background-image: image-set(url(../images/bg@2x.png) 2x, url(../images/bg@1x.png) 1x);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.pers-info .devices__item:nth-child(2), .pers-info .scripts__item:nth-child(2) {
  padding-bottom: 14px;
}
.pers-info .devices__item:nth-child(2) .item__time, .pers-info .scripts__item:nth-child(2) .item__time {
  margin-top: 5px;
}

.greet-msg {
  padding: 21px 20px 20px;
}

.owner {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 21px;
}

.home-info {
  margin-bottom: 15px;
}

.weather {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.weather__loc {
  color: #858585;
  margin-right: 30px;
}
.weather__loc:nth-child(2) {
  margin-right: 184px;
}
.weather__temp {
  color: #333333;
  margin: 5px 19px 0 0;
}
.weather__temp:nth-child(4) {
  margin-right: 4px;
}
.weather__icon {
  align-self: center;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  background: no-repeat center/cover;
  background-image: url(../images/cloud-drizzle.png);
  background-image: -webkit-image-set(url(../images/cloud-drizzle@2x.png) 2x, url(../images/cloud-drizzle.png) 1x);
  background-image: image-set(url(../images/cloud-drizzle@2x.png) 2x, url(../images/cloud-drizzle.png) 1x);
  background-image: url(../images/cloud-drizzle.svg);
}

.devices, .scripts {
  position: relative;
  display: flex;
  width: 315px;
  margin-left: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  overflow-x: scroll;
}
.devices__item, .scripts__item {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 185px;
  min-height: 105px;
  padding: 0 15px 15px 0;
  margin-right: 20px;
  background-color: #f7f7f7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.devices__link {
  position: absolute;
  width: 200px;
  height: 120px;
  display: block;
  background: rgba(255, 0, 0, 0.3);
  text-decoration: none;
}
.devices__link:nth-child(3) {
  left: 220px;
}
.devices__link:nth-child(5) {
  left: 440px;
}

.item__temp_off {
  width: 13px;
  height: 24px;
  margin: 14px 0 0 20px;
  background: no-repeat center/cover;
  background-image: url(../images/icon_temperature@1x.png);
  background-image: -webkit-image-set(url(../images/icon_temperature@2x.png) 2x, url(../images/icon_temperature@1x.png) 1x);
  background-image: image-set(url(../images/icon_temperature@2x.png) 2x, url(../images/icon_temperature@1x.png) 1x);
  background-image: url(../images/icon_temperature.svg);
}
.item__temp_on {
  width: 13px;
  height: 24px;
  margin: 14px 0 0 19px;
  background: no-repeat center/cover;
  background-image: url(../images/icon_temperature_2@1x.png);
  background-image: -webkit-image-set(url(../images/icon_temperature_2@2x.png) 2x, url(../images/icon_temperature_2@1x.png) 1x);
  background-image: image-set(url(../images/icon_temperature_2@2x.png) 2x, url(../images/icon_temperature_2@1x.png) 1x);
  background-image: url(../images/icon_temperature_2.svg);
}
.item__sun_off {
  width: 24px;
  height: 24px;
  margin: 15px 0 0 14px;
  background: no-repeat center/cover;
  background-image: url(../images/icon_sun@1x.png);
  background-image: -webkit-image-set(url(../images/icon_sun@2x.png) 2x, url(../images/icon_sun@1x.png) 1x);
  background-image: image-set(url(../images/icon_sun@2x.png) 2x, url(../images/icon_sun@1x.png) 1x);
  background-image: url(../images/icon_sun.svg);
}
.item__sun_on {
  width: 24px;
  height: 24px;
  margin: 14px 0 0 14px;
  background: no-repeat center/cover;
  background-image: url(../images/icon_sun_2@1x.png);
  background-image: -webkit-image-set(url(../images/icon_sun_2@2x.png) 2x, url(../images/icon_sun_2@1x.png) 1x);
  background-image: image-set(url(../images/icon_sun_2@2x.png) 2x, url(../images/icon_sun_2@1x.png) 1x);
  background-image: url(../images/icon_sun_2.svg);
}
.item__clock {
  width: 24px;
  height: 24px;
  margin: 13px 0 0 13px;
  background: no-repeat center/cover;
  background-image: url(../images/icon_scheduled.png);
  background-image: -webkit-image-set(url(../images/icon_scheduled.png) 2x, url(../images/icon_scheduled.png) 1x);
  background-image: image-set(url(../images/icon_scheduled.png) 2x, url(../images/icon_scheduled.png) 1x);
  background-image: url(../images/icon_scheduled.svg);
}
.item__desc {
  margin-left: 15px;
}
.item__name {
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
}
.item__time {
  margin-top: 4px;
  color: #858585;
}

.fav-scripts {
  margin-top: 31px;
}
.fav-scripts__navi {
  display: none;
}
.fav-scripts__head {
  margin: 0 0 19px 20px;
  line-height: 21px;
}

.scripts {
  width: 355px;
  padding-bottom: 0;
}
.scripts__item {
  min-height: 85px;
  margin-right: 15px;
}
.scripts__item .item__name {
  text-transform: none;
}

.fav-devices {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 24px;
}
.fav-devices__head {
  margin: 0 0 2px 20px;
  line-height: 21px;
}
.fav-devices__navi {
  display: none;
}
.fav-devices__types {
  position: relative;
}
.fav-devices .devices, .fav-devices .scripts {
  width: 355px;
  margin-top: 17px;
  padding-bottom: 0;
}
.fav-devices .devices__item, .fav-devices .scripts__item {
  margin-right: 15px;
}
.fav-devices .devices__item .item__time, .fav-devices .scripts__item .item__time {
  margin-top: 5px;
}
.fav-devices .devices__link:nth-child(3) {
  left: 215px;
}
.fav-devices .devices__link:nth-child(5) {
  left: 430px;
}
.fav-devices .devices__link:nth-child(7) {
  left: 645px;
}
.fav-devices .devices__link:nth-child(9) {
  left: 860px;
}
.fav-devices .devices__link:nth-child(11) {
  left: 1075px;
}
.fav-devices .devices__link:nth-child(13) {
  left: 1290px;
}
.fav-devices .devices__link:nth-child(15) {
  left: 1505px;
}
.fav-devices .devices__link:nth-child(17) {
  left: 1720px;
}
.fav-devices .devices .item__sun_off, .fav-devices .scripts .item__sun_off {
  margin-top: 14px;
}

.types-mobi-icon {
  position: relative;
  display: block;
  width: 24px;
  height: 15px;
  margin-right: 20px;
  padding: 7px 31px 8px 16px;
  text-decoration: none;
  color: #000000;
  background: #ffd93e no-repeat;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.types-mobi-icon::after {
  content: "";
  position: absolute;
  top: 8.5px;
  left: 45.5px;
  height: 6px;
  width: 6px;
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.types-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 4px;
  height: 30px;
  background-color: #ffd93e;
  opacity: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  visibility: hidden;
  -webkit-transition: visibility 0s linear .3s, height .35s ease-out .55s, width .4s ease-out .15s, opacity .3s linear 0s;
  -moz-transition: visibility 0s linear .3s, height .35s ease-out .55s, width .4s ease-out .15s, opacity .3s linear 0s;
  -ms-transition: visibility 0s linear .3s, height .35s ease-out .55s, width .4s ease-out .15s, opacity .3s linear 0s;
  -o-transition: visibility 0s linear .3s, height .35s ease-out .55s, width .4s ease-out .15s, opacity .3s linear 0s;
  transition: visibility 0s linear .3s, height .35s ease-out .55s, width .4s ease-out .15s, opacity .3s linear 0s;
}
.types-list__item {
  position: relative;
  margin-bottom: 8px;
  padding: 0 10px 0 16px;
  opacity: 0;
  list-style-type: none;
  visibility: hidden;
  -webkit-transition: visibility 0s linear, opacity .2s ease-out;
  -moz-transition: visibility 0s linear, opacity .2s ease-out;
  -ms-transition: visibility 0s linear, opacity .2s ease-out;
  -o-transition: visibility 0s linear, opacity .2s ease-out;
  transition: visibility 0s linear, opacity .2s ease-out;
}
.types-list__item:first-child {
  margin-top: 7px;
  -webkit-transition-delay: .5s, 0s;
  -moz-transition-delay: .5s, 0s;
  -ms-transition-delay: .5s, 0s;
  -o-transition-delay: .5s, 0s;
  transition-delay: .5s, 0s;
}
.types-list__item:nth-child(2) {
  -webkit-transition-delay: .6s, .75s;
  -moz-transition-delay: .6s, .75s;
  -ms-transition-delay: .6s, .75s;
  -o-transition-delay: .6s, .75s;
  transition-delay: .6s, .75s;
}
.types-list__item:nth-child(3) {
  -webkit-transition-delay: .6s, .85s;
  -moz-transition-delay: .6s, .85s;
  -ms-transition-delay: .6s, .85s;
  -o-transition-delay: .6s, .85s;
  transition-delay: .6s, .85s;
}
.types-list__item:nth-child(4) {
  -webkit-transition-delay: .6s, .95s;
  -moz-transition-delay: .6s, .95s;
  -ms-transition-delay: .6s, .95s;
  -o-transition-delay: .6s, .95s;
  transition-delay: .6s, .95s;
}
.types-list__item:last-child {
  -webkit-transition-delay: .6s, 1.05s;
  -moz-transition-delay: .6s, 1.05s;
  -ms-transition-delay: .6s, 1.05s;
  -o-transition-delay: .6s, 1.05s;
  transition-delay: .6s, 1.05s;
}
.types-list__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #000000;
  text-decoration: none;
}

#types:target {
  width: 90px;
  height: 122px;
  opacity: 1;
  visibility: visible;
}
#types:target .types-list__item {
  opacity: 1;
  visibility: visible;
}

.footer {
  width: 375px;
  padding: 25px 0;
}
.footer-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 150px;
  margin: 0 auto 10px;
}
.footer-list__item {
  width: 100%;
  list-style-type: none;
  text-align: center;
  margin-bottom: 5px;
}
.footer-list__item:last-child {
  margin-bottom: 0px;
}
.footer-list__link {
  color: #858585;
}
.footer-copy {
  width: 170px;
  margin: 0 auto;
  text-align: center;
  color: #858585;
}

.pop-up {
  position: absolute;
  visibility: hidden;
}

#pop-up_light:target + .container {
  filter: blur(3px);
}
#pop-up_light:target {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  visibility: visible;
}
#pop-up_light:target .pop-up__bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.5);
}
#pop-up_light:target .pop-up__cont {
  width: 334px;
  margin: 21px 20px 0 18px;
  padding: 21px 0 26px;
  background: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
#pop-up_light:target .pop-up__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 108px;
  min-height: 20px;
  margin: 15px auto;
  padding: 21px 113px 18.4px;
  color: #000000;
  text-decoration: none;
  background-color: #ffd93e;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
#pop-up_light:target .pop-up__btn:last-child {
  margin-top: 0;
  background-color: #ffffff;
}
#pop-up_light:target .dev-type {
  display: none;
}
#pop-up_light:target .dev-name {
  text-transform: capitalize;
  line-height: 21px;
  margin: 0 0 4px 20px;
}
#pop-up_light:target .dev-time {
  margin: 0 0 15px 20px;
}
#pop-up_light:target .dev-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 25px 20px;
  padding-right: 0;
  overflow: hidden;
  overflow-x: scroll;
}
#pop-up_light:target .dev-list__item {
  height: 15px;
  padding: 7px 19px 8px 15px;
  margin-right: 10px;
  color: #000000;
  white-space: nowrap;
  background-color: #f2f1f0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  list-style-type: none;
}
#pop-up_light:target .dev-list__item:first-child {
  padding-right: 17px;
  background-color: #ffd93e;
}
#pop-up_light:target .dev-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 336px;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(90deg, #FFE88C 0%, #FFB100 100%);
  background-image: -moz-linear-gradient(90deg, #FFE88C 0%, #FFB100 100%);
  background-image: -ms-linear-gradient(90deg, #FFE88C 0%, #FFB100 100%);
  background-image: -o-linear-gradient(90deg, #FFE88C 0%, #FFB100 100%);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
}
#pop-up_light:target .dev-slider__light {
  width: 36px;
  height: 36px;
  background: no-repeat center/contain;
}
#pop-up_light:target .dev-slider__light:first-child {
  margin-top: 13px;
  background-image: url(../images/icon_sun_max.png);
  background-image: -webkit-image-set(url(../images/icon_sun_max@2x.png) 2x, url(../images/icon_sun_max.png) 1x);
  background-image: image-set(url(../images/icon_sun_max@2x.png) 2x, url(../images/icon_sun_max.png) 1x);
  background-image: url(../images/icon_sun_max.svg);
}
#pop-up_light:target .dev-slider__light:last-child {
  margin-bottom: 12px;
  background-image: url(../images/icon_sun_min.png);
  background-image: -webkit-image-set(url(../images/icon_sun_min@2x.png) 2x, url(../images/icon_sun_min.png) 1x);
  background-image: image-set(url(../images/icon_sun_min@2x.png) 2x, url(../images/icon_sun_min.png) 1x);
  background-image: url(../images/icon_sun_min.svg);
}
#pop-up_light:target .dev-slider__btn {
  position: absolute;
  right: -4px;
  top: 101px;
  width: 60px;
  height: 60px;
  border: 4px solid #ffffff;
  -webkit-box-shadow: 0 1px 10px -7px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 10px -7px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0 1px 10px -7px rgba(0, 0, 0, .5);
  -o-box-shadow: 0 1px 10px -7px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 10px -7px rgba(0, 0, 0, .5);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
}
#pop-up_light:target .dev-slider__btn::after {
  content: "";
  position: absolute;
  width: 54px;
  height: 54px;
  border: 3px solid rgba(51, 51, 51, 0.1);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/*# sourceMappingURL=src/css/style.css.map */
