.sec-txt_s13, .sec-txt {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.dev-circ-slider__num, .sec-txt_b, .sec-txt_s24b, .sec-txt_s18b, .dev-slider__heat, .sec-txt_s16b, .sec-txt_s13b {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.item__desc, .greet-msg, .pers-info__cont, .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@keyframes pop-up-cont {
  from {
    width: 200px;
    height: 120px;
    background-color: #f7f7f7;
  }
  to {
    top: 0;
    left: 0;
    width: 334px;
    height: 445px;
    margin: 21px 0 0 20px;
    padding: 21px 0 26px;
    background-color: #ffffff;
  }
}
@keyframes pop-up-cont_close {
  from {
    top: 0;
    left: 0;
    width: 334px;
    height: 445px;
    margin: 21px 0 0 20px;
    padding: 21px 0 26px;
    background-color: #ffffff;
    opacity: 1;
    visibility: visible;
  }
  60% {
    opacity: 1;
  }
  to {
    width: 200px;
    height: 120px;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes pop-up-dev-name {
  from {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pop-up-dev-name_close {
  from {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes pop-up-bg {
  to {
    background-color: rgba(51, 51, 51, 0.5);
  }
}
@keyframes pop-up-bg_close {
  to {
    background-color: rgba(51, 51, 51, 0);
  }
}
@keyframes cont {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(3px);
  }
}
@keyframes cont_close {
  from {
    filter: blur(3px);
  }
  to {
    filter: blur(0);
  }
}
@keyframes pop-up-slider {
  from {
    visibility: hidden;
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes pop-up-slider_close {
  from {
    visibility: visible;
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes pop-up-btn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes pop-up-btn_close {
  from {
    visibility: visible;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 375px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sec-txt {
  font-size: 12px;
  line-height: 14px;
}
.sec-txt_s13 {
  font-size: 13px;
  line-height: 15px;
}
.sec-txt_s13b {
  font-size: 13px;
  line-height: 15px;
}
.sec-txt_s16b {
  font-size: 16px;
  line-height: 20px;
}
.sec-txt_s18b, .dev-slider__heat {
  font-size: 18px;
}
.sec-txt_s24b {
  font-size: 24px;
  line-height: 28px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  width: 335px;
  padding: 13px 20px 15px 20px;
  background-color: #ffffff;
}

.logo-icon {
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 110px;
  height: 38px;
}
.logo-icon__pic {
  display: block;
  width: 110px;
  height: 38px;
}

.menu {
  margin-top: 13px;
}
.menu-mobi-icon {
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 16px;
  height: 14px;
  background: #ffffff no-repeat center/cover;
  background-image: url(../images/icon_list_m.png);
  background-image: -webkit-image-set(url(../images/icon_list_m@2x.png) 2x, url(../images/icon_list_m@1x.png) 1x);
  background-image: image-set(url(../images/icon_list_m@2x.png), url(../images/icon_list_m@1x.png));
  background-image: url(../images/icon_list_m.svg);
}
.menu-mobi-icon_close {
  position: absolute;
  top: 26px;
  right: 20px;
  z-index: 4;
  display: block;
  width: 16px;
  height: 14px;
  visibility: hidden;
}
.menu-list {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 4px;
  padding: 0 48px 10px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear .1s, height .75s ease-out .1s, opacity .3s linear 0s;
  -moz-transition: visibility 0s linear .1s, height .75s ease-out .1s, opacity .3s linear 0s;
  -ms-transition: visibility 0s linear .1s, height .75s ease-out .1s, opacity .3s linear 0s;
  -o-transition: visibility 0s linear .1s, height .75s ease-out .1s, opacity .3s linear 0s;
  transition: visibility 0s linear .1s, height .75s ease-out .1s, opacity .3s linear 0s;
}
.menu-list__item {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #333;
  opacity: 0;
  list-style-type: none;
  visibility: hidden;
  -webkit-transition: visibility 0s linear, opacity .35s ease-out;
  -moz-transition: visibility 0s linear, opacity .35s ease-out;
  -ms-transition: visibility 0s linear, opacity .35s ease-out;
  -o-transition: visibility 0s linear, opacity .35s ease-out;
  transition: visibility 0s linear, opacity .35s ease-out;
}
.menu-list__item:first-child {
  margin-top: 66px;
  -webkit-transition-delay: .25s, .35s;
  -moz-transition-delay: .25s, .35s;
  -ms-transition-delay: .25s, .35s;
  -o-transition-delay: .25s, .35s;
  transition-delay: .25s, .35s;
}
.menu-list__item:nth-child(2) {
  -webkit-transition-delay: .25s, .6s;
  -moz-transition-delay: .25s, .6s;
  -ms-transition-delay: .25s, .6s;
  -o-transition-delay: .25s, .6s;
  transition-delay: .25s, .6s;
}
.menu-list__item:last-child {
  -webkit-transition-delay: .25s, .85s;
  -moz-transition-delay: .25s, .85s;
  -ms-transition-delay: .25s, .85s;
  -o-transition-delay: .25s, .85s;
  transition-delay: .25s, .85s;
}
.menu-list__link {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 11px 0;
  color: #333333;
  text-decoration: none;
}

#menu-list:target {
  height: 200px;
  opacity: 1;
  visibility: visible;
}
#menu-list:target ~ .menu-mobi-icon_close {
  visibility: visible;
}
#menu-list:target > .menu-list__item {
  opacity: 1;
  visibility: visible;
}

.content {
  flex: 1 0 auto;
  width: 355px;
  height: auto;
  margin-top: 66px;
}

.pers-info {
  margin-right: 20px;
}
.pers-info__head {
  display: none;
}
.pers-info__cont {
  width: 335px;
  height: auto;
  margin-left: 20px;
  background: #f7f7f7 no-repeat;
  background-position: 40% 29%;
  background-image: url(../images/bg@1x.png);
  background-image: -webkit-image-set(url(../images/bg@2x.png) 2x, url(../images/bg@1x.png) 1x);
  background-image: image-set(url(../images/bg@2x.png) 2x, url(../images/bg@1x.png) 1x);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.pers-info .devices__item:nth-child(2), .pers-info .scripts__item:nth-child(2) {
  padding-bottom: 14px;
}
.pers-info .devices__item:nth-child(2) .item__time, .pers-info .scripts__item:nth-child(2) .item__time {
  margin-top: 5px;
}

.greet-msg {
  padding: 21px 20px 20px;
}

.owner {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 21px;
}

.home-info {
  margin-bottom: 15px;
}

.weather {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.weather__loc {
  color: #858585;
  margin-right: 30px;
}
.weather__loc:nth-child(2) {
  margin-right: 184px;
}
.weather__temp {
  color: #333333;
  margin: 5px 19px 0 0;
}
.weather__temp:nth-child(4) {
  margin-right: 4px;
}
.weather__icon {
  align-self: center;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  background: no-repeat center/cover;
  background-image: url(../images/cloud-drizzle.png);
  background-image: -webkit-image-set(url(../images/cloud-drizzle@2x.png) 2x, url(../images/cloud-drizzle.png) 1x);
  background-image: image-set(url(../images/cloud-drizzle@2x.png) 2x, url(../images/cloud-drizzle.png) 1x);
  background-image: url(../images/cloud-drizzle.svg);
}

.devices, .scripts {
  display: flex;
  width: 315px;
  margin-left: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  overflow-x: scroll;
}
.devices__item, .scripts__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 185px;
  min-height: 105px;
  padding: 0 15px 15px 0;
  margin-right: 20px;
  background-color: #f7f7f7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.devices__dummy {
  display: none;
}

.item__temp_off {
  width: 13px;
  height: 24px;
  margin: 14px 0 0 20px;
  background: no-repeat center/cover;
  background-image: url(../images/icon_temperature@1x.png);
  background-image: -webkit-image-set(url(../images/icon_temperature@2x.png) 2x, url(../images/icon_temperature@1x.png) 1x);
  background-image: image-set(url(../images/icon_temperature@2x.png) 2x, url(../images/icon_temperature@1x.png) 1x);
  background-image: url(../images/icon_temperature.svg);
}
.item__temp_on {
  width: 13px;
  height: 24px;
  margin: 14px 0 0 19px;
  background: no-repeat center/cover;
  background-image: url(../images/icon_temperature_2@1x.png);
  background-image: -webkit-image-set(url(../images/icon_temperature_2@2x.png) 2x, url(../images/icon_temperature_2@1x.png) 1x);
  background-image: image-set(url(../images/icon_temperature_2@2x.png) 2x, url(../images/icon_temperature_2@1x.png) 1x);
  background-image: url(../images/icon_temperature_2.svg);
}
.item__sun_off {
  width: 24px;
  height: 24px;
  margin: 15px 0 0 14px;
  background: no-repeat center/cover;
  background-image: url(../images/icon_sun@1x.png);
  background-image: -webkit-image-set(url(../images/icon_sun@2x.png) 2x, url(../images/icon_sun@1x.png) 1x);
  background-image: image-set(url(../images/icon_sun@2x.png) 2x, url(../images/icon_sun@1x.png) 1x);
  background-image: url(../images/icon_sun.svg);
}
.item__sun_on {
  width: 24px;
  height: 24px;
  margin: 14px 0 0 14px;
  background: no-repeat center/cover;
  background-image: url(../images/icon_sun_2@1x.png);
  background-image: -webkit-image-set(url(../images/icon_sun_2@2x.png) 2x, url(../images/icon_sun_2@1x.png) 1x);
  background-image: image-set(url(../images/icon_sun_2@2x.png) 2x, url(../images/icon_sun_2@1x.png) 1x);
  background-image: url(../images/icon_sun_2.svg);
}
.item__clock {
  width: 24px;
  height: 24px;
  margin: 13px 0 0 13px;
  background: no-repeat center/cover;
  background-image: url(../images/icon_scheduled.png);
  background-image: -webkit-image-set(url(../images/icon_scheduled@2x.png) 2x, url(../images/icon_scheduled@1x.png) 1x);
  background-image: image-set(url(../images/icon_scheduled@2x.png) 2x, url(../images/icon_scheduled@1x.png) 1x);
  background-image: url(../images/icon_scheduled.svg);
}
.item__desc {
  margin-left: 15px;
}
.item__name {
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
}
.item__time {
  margin-top: 4px;
  color: #858585;
}

.fav-scripts {
  margin-top: 31px;
}
.fav-scripts__navi {
  display: none;
}
.fav-scripts__head {
  margin: 0 0 19px 20px;
  line-height: 21px;
}

.scripts {
  width: 355px;
  padding-bottom: 0;
}
.scripts__item {
  min-height: 85px;
  margin-right: 15px;
}
.scripts__item .item__name {
  text-transform: none;
}

.fav-devices {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 24px;
}
.fav-devices__head {
  margin: 0 0 2px 20px;
  line-height: 21px;
}
.fav-devices__navi {
  display: none;
}
.fav-devices__types {
  position: relative;
}
.fav-devices .devices, .fav-devices .scripts {
  width: 355px;
  margin-top: 17px;
  padding-bottom: 0;
}
.fav-devices .devices__item, .fav-devices .scripts__item {
  margin-right: 15px;
}
.fav-devices .devices__item .item__time, .fav-devices .scripts__item .item__time {
  margin-top: 5px;
}
.fav-devices .devices__item .item__sun_off, .fav-devices .scripts__item .item__sun_off {
  margin-top: 14px;
}

.types-mobi-icon {
  position: relative;
  display: block;
  width: 24px;
  height: 15px;
  margin-right: 20px;
  padding: 7px 31px 8px 16px;
  text-decoration: none;
  color: #000000;
  background: #ffd93e no-repeat;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.types-mobi-icon::after {
  content: "";
  position: absolute;
  top: 8.5px;
  left: 45.5px;
  height: 6px;
  width: 6px;
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.types-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 4px;
  height: 30px;
  background-color: #ffd93e;
  opacity: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  visibility: hidden;
  -webkit-transition: visibility 0s linear .3s, height .35s ease-out .55s, width .4s ease-out .15s, opacity .3s linear 0s;
  -moz-transition: visibility 0s linear .3s, height .35s ease-out .55s, width .4s ease-out .15s, opacity .3s linear 0s;
  -ms-transition: visibility 0s linear .3s, height .35s ease-out .55s, width .4s ease-out .15s, opacity .3s linear 0s;
  -o-transition: visibility 0s linear .3s, height .35s ease-out .55s, width .4s ease-out .15s, opacity .3s linear 0s;
  transition: visibility 0s linear .3s, height .35s ease-out .55s, width .4s ease-out .15s, opacity .3s linear 0s;
}
.types-list__item {
  position: relative;
  margin-bottom: 8px;
  padding: 0 10px 0 16px;
  opacity: 0;
  list-style-type: none;
  visibility: hidden;
  -webkit-transition: visibility 0s linear, opacity .2s ease-out;
  -moz-transition: visibility 0s linear, opacity .2s ease-out;
  -ms-transition: visibility 0s linear, opacity .2s ease-out;
  -o-transition: visibility 0s linear, opacity .2s ease-out;
  transition: visibility 0s linear, opacity .2s ease-out;
}
.types-list__item:first-child {
  margin-top: 7px;
  -webkit-transition-delay: .5s, 0s;
  -moz-transition-delay: .5s, 0s;
  -ms-transition-delay: .5s, 0s;
  -o-transition-delay: .5s, 0s;
  transition-delay: .5s, 0s;
}
.types-list__item:nth-child(2) {
  -webkit-transition-delay: .6s, .75s;
  -moz-transition-delay: .6s, .75s;
  -ms-transition-delay: .6s, .75s;
  -o-transition-delay: .6s, .75s;
  transition-delay: .6s, .75s;
}
.types-list__item:nth-child(3) {
  -webkit-transition-delay: .6s, .85s;
  -moz-transition-delay: .6s, .85s;
  -ms-transition-delay: .6s, .85s;
  -o-transition-delay: .6s, .85s;
  transition-delay: .6s, .85s;
}
.types-list__item:nth-child(4) {
  -webkit-transition-delay: .6s, .95s;
  -moz-transition-delay: .6s, .95s;
  -ms-transition-delay: .6s, .95s;
  -o-transition-delay: .6s, .95s;
  transition-delay: .6s, .95s;
}
.types-list__item:last-child {
  -webkit-transition-delay: .6s, 1.05s;
  -moz-transition-delay: .6s, 1.05s;
  -ms-transition-delay: .6s, 1.05s;
  -o-transition-delay: .6s, 1.05s;
  transition-delay: .6s, 1.05s;
}
.types-list__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #000000;
  text-decoration: none;
}

#types:target {
  width: 90px;
  height: 122px;
  opacity: 1;
  visibility: visible;
}
#types:target .types-list__item {
  opacity: 1;
  visibility: visible;
}

.footer {
  flex: 0 0 auto;
  width: 375px;
  padding: 25px 0;
}
.footer-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 150px;
  margin: 0 auto 10px;
}
.footer-list__item {
  width: 100%;
  list-style-type: none;
  text-align: center;
  margin-bottom: 5px;
}
.footer-list__item:last-child {
  margin-bottom: 0px;
}
.footer-list__link {
  color: #858585;
}
.footer-copy {
  width: 170px;
  margin: 0 auto;
  text-align: center;
  color: #858585;
}

.container_anim {
  -webkit-animation: cont .3s linear forwards;
  -moz-animation: cont .3s linear forwards;
  -ms-animation: cont .3s linear forwards;
  -o-animation: cont .3s linear forwards;
  animation: cont .3s linear forwards;
}
.container_anim_close {
  -webkit-animation: cont_close .3s linear forwards;
  -moz-animation: cont_close .3s linear forwards;
  -ms-animation: cont_close .3s linear forwards;
  -o-animation: cont_close .3s linear forwards;
  animation: cont_close .3s linear forwards;
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
.pop-up__bg, .pop-up__bg_close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.pop-up__bg {
  animation: pop-up-bg 0.3s linear forwards;
}
.pop-up__bg_close {
  animation: pop-up-bg_close 0.3s linear forwards;
}
.pop-up__cont, .pop-up__desk-cont, .pop-up__cont_close {
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.pop-up__cont {
  -webkit-animation: pop-up-cont .3s ease-out forwards;
  -moz-animation: pop-up-cont .3s ease-out forwards;
  -ms-animation: pop-up-cont .3s ease-out forwards;
  -o-animation: pop-up-cont .3s ease-out forwards;
  animation: pop-up-cont .3s ease-out forwards;
}
.pop-up__cont_close {
  -webkit-animation: pop-up-cont_close .3s ease-out forwards;
  -moz-animation: pop-up-cont_close .3s ease-out forwards;
  -ms-animation: pop-up-cont_close .3s ease-out forwards;
  -o-animation: pop-up-cont_close .3s ease-out forwards;
  animation: pop-up-cont_close .3s ease-out forwards;
}
.pop-up__btn, .pop-up__btn_close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 333px;
  min-height: 20px;
  margin: 15px auto;
  padding: 21px 113px 18.4px;
  color: #000000;
  text-decoration: none;
  background-color: #ffd93e;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  outline: none;
}
.pop-up__btn:last-child, .pop-up__btn_close:last-child {
  margin-top: 0;
  padding-top: 22px;
  background-color: #ffffff;
}
.pop-up__btn {
  -webkit-animation: pop-up-btn .3s ease-out forwards;
  -moz-animation: pop-up-btn .3s ease-out forwards;
  -ms-animation: pop-up-btn .3s ease-out forwards;
  -o-animation: pop-up-btn .3s ease-out forwards;
  animation: pop-up-btn .3s ease-out forwards;
}
.pop-up__btn_close {
  -webkit-animation: pop-up-btn_close .3s ease-out forwards;
  -moz-animation: pop-up-btn_close .3s ease-out forwards;
  -ms-animation: pop-up-btn_close .3s ease-out forwards;
  -o-animation: pop-up-btn_close .3s ease-out forwards;
  animation: pop-up-btn_close .3s ease-out forwards;
}

.dev-type__light {
  display: none;
}
.dev-type__heat {
  display: none;
}
.dev-name, .dev-name_close {
  display: block;
  text-transform: capitalize;
  line-height: 21px;
  margin: 0 0 4px 20px;
}
.dev-name {
  -webkit-animation: pop-up-dev-name .3s ease-out forwards;
  -moz-animation: pop-up-dev-name .3s ease-out forwards;
  -ms-animation: pop-up-dev-name .3s ease-out forwards;
  -o-animation: pop-up-dev-name .3s ease-out forwards;
  animation: pop-up-dev-name .3s ease-out forwards;
}
.dev-name_close {
  -webkit-animation: pop-up-dev-name_close .3s ease-out forwards;
  -moz-animation: pop-up-dev-name_close .3s ease-out forwards;
  -ms-animation: pop-up-dev-name_close .3s ease-out forwards;
  -o-animation: pop-up-dev-name_close .3s ease-out forwards;
  animation: pop-up-dev-name_close .3s ease-out forwards;
}
.dev-time {
  display: block;
  margin: 0 0 15px 20px;
}
.dev-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 25px 20px;
  padding-right: 0;
  overflow: hidden;
  overflow-x: scroll;
}
.dev-list__item {
  height: 15px;
  padding: 7px 19px 8px 15px;
  margin-right: 10px;
  color: #000000;
  white-space: nowrap;
  background-color: #f2f1f0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  list-style-type: none;
}
.dev-list__item:first-child {
  padding-right: 17px;
  background-color: #ffd93e;
}
.dev-list__item:nth-child(2) {
  margin-right: 9px;
}
.dev-slider, .dev-slider_close {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 336px;
  margin: 0 auto;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
}
.dev-slider {
  -webkit-animation: pop-up-slider .3s ease-out forwards;
  -moz-animation: pop-up-slider .3s ease-out forwards;
  -ms-animation: pop-up-slider .3s ease-out forwards;
  -o-animation: pop-up-slider .3s ease-out forwards;
  animation: pop-up-slider .3s ease-out forwards;
}
.dev-slider-light_grad {
  background-image: -webkit-linear-gradient(90deg, #FFE88C 0%, #FFB100 100%);
  background-image: -moz-linear-gradient(90deg, #FFE88C 0%, #FFB100 100%);
  background-image: -ms-linear-gradient(90deg, #FFE88C 0%, #FFB100 100%);
  background-image: -o-linear-gradient(90deg, #FFE88C 0%, #FFB100 100%);
}
.dev-slider-heat_grad {
  background-image: -webkit-linear-gradient(90deg, #068FFF 0%, #FFD800 50%, #F76B1C 100%);
  background-image: -moz-linear-gradient(90deg, #068FFF 0%, #FFD800 50%, #F76B1C 100%);
  background-image: -ms-linear-gradient(90deg, #068FFF 0%, #FFD800 50%, #F76B1C 100%);
  background-image: -o-linear-gradient(90deg, #068FFF 0%, #FFD800 50%, #F76B1C 100%);
}
.dev-slider_close {
  -webkit-animation: pop-up-slider_close .3s ease-out forwards;
  -moz-animation: pop-up-slider_close .3s ease-out forwards;
  -ms-animation: pop-up-slider_close .3s ease-out forwards;
  -o-animation: pop-up-slider_close .3s ease-out forwards;
  animation: pop-up-slider_close .3s ease-out forwards;
}
.dev-slider__light {
  width: 36px;
  height: 36px;
  background: no-repeat center/contain;
}
.dev-slider__light:first-child {
  margin-top: 13px;
  background-image: url(../images/icon_sun_max.png);
  background-image: -webkit-image-set(url(../images/icon_sun_max@2x.png) 2x, url(../images/icon_sun_max.png) 1x);
  background-image: image-set(url(../images/icon_sun_max@2x.png) 2x, url(../images/icon_sun_max.png) 1x);
  background-image: url(../images/icon_sun_max.svg);
}
.dev-slider__light:last-child {
  margin-bottom: 12px;
  background-image: url(../images/icon_sun_min.png);
  background-image: -webkit-image-set(url(../images/icon_sun_min@2x.png) 2x, url(../images/icon_sun_min.png) 1x);
  background-image: image-set(url(../images/icon_sun_min@2x.png) 2x, url(../images/icon_sun_min.png) 1x);
  background-image: url(../images/icon_sun_min.svg);
}
.dev-slider__heat {
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 0;
}
.dev-slider__heat:first-child {
  margin-top: 17px;
}
.dev-slider__heat:first-child::after {
  content: "+30";
}
.dev-slider__heat:last-child {
  margin-bottom: 13px;
}
.dev-slider__heat:last-child::after {
  content: "-10";
}
.dev-slider__btn {
  position: absolute;
  right: -4px;
  top: 101px;
  width: 60px;
  height: 60px;
  border: 4px solid #ffffff;
  -webkit-box-shadow: 0 1px 10px -7px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 10px -7px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0 1px 10px -7px rgba(0, 0, 0, .5);
  -o-box-shadow: 0 1px 10px -7px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 10px -7px rgba(0, 0, 0, .5);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
}
.dev-slider__btn::after {
  content: "";
  position: absolute;
  width: 54px;
  height: 54px;
  border: 3px solid rgba(51, 51, 51, 0.1);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.dev-circ-slider, .dev-circ-slider_close {
  position: relative;
  width: 221px;
  height: 199px;
  margin: 103px auto 108px;
  padding-top: 22px;
  background: no-repeat center/contain;
  background-image: url(../images/Oval@1x.png);
  background-image: -webkit-image-set(url(../images/Oval@2x.png) 2x, url(../images/Oval@1x.png) 1x);
  background-image: image-set(url(../images/Oval@2x.png) 2x, url(../images/Oval@1x.png) 1x);
  background-image: url(../images/Oval.svg);
}
.dev-circ-slider {
  -webkit-animation: pop-up-slider .3s ease-out forwards;
  -moz-animation: pop-up-slider .3s ease-out forwards;
  -ms-animation: pop-up-slider .3s ease-out forwards;
  -o-animation: pop-up-slider .3s ease-out forwards;
  animation: pop-up-slider .3s ease-out forwards;
}
.dev-circ-slider_close {
  -webkit-animation: pop-up-slider_close .3s ease-out forwards;
  -moz-animation: pop-up-slider_close .3s ease-out forwards;
  -ms-animation: pop-up-slider_close .3s ease-out forwards;
  -o-animation: pop-up-slider_close .3s ease-out forwards;
  animation: pop-up-slider_close .3s ease-out forwards;
}
.dev-circ-slider::before {
  content: "";
  position: absolute;
  top: 177px;
  left: 65px;
  width: 60px;
  height: 74px;
  background-color: #ffffff;
  -webkit-transform: rotate(-59deg);
  -moz-transform: rotate(-59deg);
  -ms-transform: rotate(-59deg);
  -o-transform: rotate(-59deg);
  transform: rotate(-59deg);
}
.dev-circ-slider::after {
  content: "";
  position: absolute;
  top: 177px;
  left: 98px;
  width: 60px;
  height: 74px;
  background-color: #ffffff;
  -webkit-transform: rotate(59deg);
  -moz-transform: rotate(59deg);
  -ms-transform: rotate(59deg);
  -o-transform: rotate(59deg);
  transform: rotate(59deg);
}
.dev-circ-slider__inner-circ {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 184px;
  margin: 0 auto;
  background: no-repeat center/contain;
  background-image: url(../images/background@1x.png);
  background-image: -webkit-image-set(url(../images/background@2x.png) 2x, url(../images/background@1x.png) 1x);
  background-image: image-set(url(../images/background@2x.png) 2x, url(../images/background@1x.png) 1x);
  background-image: url(../images/background.svg);
}
.dev-circ-slider__num {
  position: relative;
  display: block;
  margin: 0 0 9px 2px;
  font-size: 66px;
  line-height: 76px;
  color: #333333;
  letter-spacing: 0;
}
.dev-circ-slider__unused-temp {
  position: absolute;
  top: 130px;
  left: 154px;
  width: 65px;
  height: 77px;
  background: no-repeat center/contain;
  background-image: url(../images/Oval_Copy@1x.png);
  background-image: -webkit-image-set(url(../images/Oval_Copy@2x.png) 2x, url(../images/Oval_Copy@1x.png) 1x);
  background-image: image-set(url(../images/Oval_Copy@2x.png) 2x, url(../images/Oval_Copy@1x.png) 1x);
  background-image: url(../images/Oval_Copy.svg);
}
.dev-circ-slider__btn {
  position: absolute;
  top: 113px;
  left: 186px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background: url(../images/Icons/icon_arrow.svg) no-repeat bottom center;
  -webkit-transform: rotate(110deg);
  -moz-transform: rotate(110deg);
  -ms-transform: rotate(110deg);
  -o-transform: rotate(110deg);
  transform: rotate(110deg);
}

@media (min-width: 1365.9px) {
  @keyframes pop-up-cont {
    from {
      width: 200px;
      height: 120px;
      background-color: #f7f7f7;
    }
    to {
      top: 189px;
      left: 367px;
      width: 579px;
      height: 187px;
      padding: 26px 25px 25px;
      background-color: #ffffff;
    }
  }
  @keyframes pop-up-cont_close {
    from {
      top: 189px;
      left: 367px;
      width: 579px;
      height: 187px;
      padding: 26px 25px 25px;
      background-color: #ffffff;
      opacity: 1;
      visibility: visible;
    }
    60% {
      opacity: 1;
    }
    to {
      width: 200px;
      height: 120px;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes pop-up-cont-circ {
    from {
      width: 200px;
      height: 120px;
      background-color: #f7f7f7;
    }
    to {
      top: 100px;
      left: 368px;
      width: 579px;
      height: 292px;
      padding: 26px 25px 25px;
      background-color: #ffffff;
    }
  }
  @keyframes pop-up-cont-circ_close {
    from {
      top: 100px;
      left: 368px;
      width: 579px;
      height: 292px;
      padding: 26px 25px 25px;
      background-color: #ffffff;
      opacity: 1;
      visibility: visible;
    }
    60% {
      opacity: 1;
    }
    to {
      width: 200px;
      height: 120px;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes dummy_hide {
    from {
      opacity: 1;
      visibility: visible;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes dummy_show {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }
  .container {
    width: 1366px;
    margin: 0 auto;
  }

  .header {
    position: static;
    justify-content: flex-start;
    align-items: center;
    width: 1326px;
    padding: 23px 0 21px 40px;
    border-bottom: 1px solid #f0f0f0;
  }

  .logo-icon {
    margin-bottom: 6px;
  }

  .menu {
    margin: 0 0 0 50px;
  }
  .menu-mobi-icon {
    display: none;
  }
  .menu-mobi-icon_close {
    display: none;
  }
  .menu-list {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: auto;
    padding: 0;
    visibility: visible;
    opacity: 1;
  }
  .menu-list__item {
    position: static;
    width: auto;
    margin-right: 26px;
    border-bottom: none;
    visibility: visible;
    opacity: 1;
  }
  .menu-list__item:first-child {
    margin-top: 0;
    margin-right: 28px;
  }
  .menu-list__item:nth-child(2) .menu-list__link {
    color: #333333;
    opacity: 0.6;
  }
  .menu-list__item:nth-child(3) .menu-list__link {
    color: #333333;
    opacity: 0.6;
  }
  .menu-list__link {
    width: auto;
    padding: 14px 0;
  }

  .content {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1326px;
    margin-top: 30px;
    padding-left: 40px;
  }

  .pers-info {
    width: 630px;
    margin-right: 26px;
  }
  .pers-info__head {
    display: block;
    margin: -1px 0 19px -1px;
    line-height: 21px;
  }
  .pers-info__cont {
    flex-direction: row;
    width: auto;
    margin-left: 0;
  }

  .greet-msg {
    width: 360px;
    padding: 26px 0 0 25px;
  }

  .owner {
    margin-bottom: 5px;
    font-size: 27px;
    line-height: 31px;
  }

  .home-info {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 16px;
  }

  .weather__loc {
    margin-right: 45px;
    font-size: 14px;
    line-height: 16px;
  }
  .weather__temp {
    margin-top: 4px;
    font-size: 36px;
    line-height: 42px;
  }
  .weather__temp:nth-child(4) {
    margin-right: 6px;
  }
  .weather__icon {
    margin-top: 1px;
    width: 26px;
    height: 26px;
  }

  .devices, .scripts {
    position: relative;
    flex-direction: column;
    width: auto;
    height: 311px;
    margin: 20px 20px 0 25px;
    padding-bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .devices__item, .scripts__item {
    min-width: auto;
    width: 185px;
    margin: 0 0 15px;
  }
  .devices__dummy, .devices__dummy_hide, .devices__dummy_show {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    height: 42px;
    background: #f7f7f7 no-repeat center;
    background-image: url(../images/Icons/M@1x.png);
    background-image: -webkit-image-set(url(../images/Icons/M@2x.png) 2x, url(../images/Icons/M@1x.png) 1x);
    background-image: image-set(url(../images/Icons/M@2x.png) 2x, url(../images/Icons/M@1x.png) 1x);
    background-image: url(../images/Icons/M.svg);
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
  }
  .devices__dummy_hide, .devices__dummy_hide_hide, .devices__dummy_show_hide {
    -webkit-animation: dummy_hide .5s linear forwards;
    -moz-animation: dummy_hide .5s linear forwards;
    -ms-animation: dummy_hide .5s linear forwards;
    -o-animation: dummy_hide .5s linear forwards;
    animation: dummy_hide .5s linear forwards;
  }
  .devices__dummy_show, .devices__dummy_hide_show, .devices__dummy_show_show {
    -webkit-animation: dummy_show .5s linear forwards;
    -moz-animation: dummy_show .5s linear forwards;
    -ms-animation: dummy_show .5s linear forwards;
    -o-animation: dummy_show .5s linear forwards;
    animation: dummy_show .5s linear forwards;
  }

  .item__sun_off {
    margin-top: 14px;
  }
  .item__clock {
    margin: 14px 0 0 14px;
  }

  .fav-scripts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 630px;
    margin: 0 40px 0 0;
  }
  .fav-scripts__head {
    margin-left: 0;
  }
  .fav-scripts__navi {
    display: block;
  }

  .sec-navi__btn_left, .sec-navi__btn_right {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-decoration: none;
    background: no-repeat center/contain;
  }
  .sec-navi__btn_left {
    margin-right: 10px;
    background-image: url(../images/Icons/M_Copy_left@1x.png);
    background-image: -webkit-image-set(url(../images/Icons/M_Copy_left@2x.png) 2x, url(../images/Icons/M_Copy_left@1x.png) 1x);
    background-image: image-set(url(../images/Icons/M_Copy_left@2x.png) 2x, url(../images/Icons/M_Copy_left@1x.png) 1x);
    background-image: url(../images/Icons/M_Copy_left.svg);
  }
  .sec-navi__btn_right {
    background-image: url(../images/Icons/M_Copy_left@1x.png);
    background-image: -webkit-image-set(url(../images/Icons/M_Copy_left@2x.png) 2x, url(../images/Icons/M_Copy_left@1x.png) 1x);
    background-image: image-set(url(../images/Icons/M_Copy_left@2x.png) 2x, url(../images/Icons/M_Copy_left@1x.png) 1x);
    background-image: url(../images/Icons/M_Copy_left.svg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .scripts {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    margin: 0;
    overflow-y: hidden;
  }
  .scripts__item {
    margin-right: 15px;
  }
  .scripts__item:nth-child(3), .scripts__item:nth-child(6), .scripts__item:nth-child(9) {
    margin-right: 0;
  }

  .fav-devices {
    justify-content: flex-start;
    align-items: center;
    margin-top: 29px;
  }
  .fav-devices__head {
    margin: 0;
  }
  .fav-devices__navi {
    display: block;
    align-self: flex-end;
    height: 16px;
    margin: 0 0 2px 639px;
  }
  .fav-devices__types {
    position: static;
  }
  .fav-devices .devices, .fav-devices .scripts {
    flex-direction: row;
    width: 1326px;
    height: auto;
    margin: 20px 0 0 0;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .fav-devices .devices__item, .fav-devices .scripts__item {
    min-width: 185px;
    width: auto;
    margin-bottom: 0;
  }

  .types-mobi-icon {
    display: none;
  }
  .types-list {
    position: static;
    width: auto;
    height: auto;
    margin-left: 13px;
    background: none;
    border-radius: 0;
    visibility: visible;
    opacity: 1;
  }
  .types-list__item {
    position: static;
    display: inline-block;
    width: auto;
    margin: 0 6px 0 0;
    padding: 7px 11px 8px 15px;
    background-color: #f7f7f7;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    opacity: 1;
    visibility: visible;
  }
  .types-list__item:first-child {
    margin-top: 0;
    background-color: #ffd93e;
  }
  .types-list__item:nth-child(2) {
    padding-right: 14px;
  }
  .types-list__item:nth-child(4) {
    margin-right: 8px;
    padding-right: 14px;
  }
  .types-list__item:last-child {
    margin-right: 0;
    padding-right: 13px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1290px;
    padding: 22px 36px 28px 40px;
  }
  .footer-list {
    width: auto;
    margin: 0;
  }
  .footer-list__item {
    width: auto;
    height: 14px;
    margin: 0 17px 0 0;
  }
  .footer-list__link {
    text-decoration: none;
  }
  .footer-copy {
    width: auto;
    margin: 3px 0 0 0;
    letter-spacing: 0.15px;
  }

  .pop-up__cont-circ, .pop-up__cont-circ_close {
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
  }
  .pop-up__cont-circ {
    -webkit-animation: pop-up-cont-circ .3s ease-out forwards;
    -moz-animation: pop-up-cont-circ .3s ease-out forwards;
    -ms-animation: pop-up-cont-circ .3s ease-out forwards;
    -o-animation: pop-up-cont-circ .3s ease-out forwards;
    animation: pop-up-cont-circ .3s ease-out forwards;
  }
  .pop-up__cont-circ_close {
    -webkit-animation: pop-up-cont-circ_close .3s ease-out forwards;
    -moz-animation: pop-up-cont-circ_close .3s ease-out forwards;
    -ms-animation: pop-up-cont-circ_close .3s ease-out forwards;
    -o-animation: pop-up-cont-circ_close .3s ease-out forwards;
    animation: pop-up-cont-circ_close .3s ease-out forwards;
  }
  .pop-up__cont-circ ~ .pop-up__btn:nth-child(2), .pop-up__cont-circ ~ .pop-up__btn:last-child, .pop-up__cont-circ ~ .pop-up__btn_close:nth-child(2), .pop-up__cont-circ ~ .pop-up__btn_close:last-child {
    top: 464px;
  }
  .pop-up__btn, .pop-up__btn_close {
    position: absolute;
    width: 307px;
    margin: 0;
  }
  .pop-up__btn:nth-child(2), .pop-up__btn_close:nth-child(2) {
    top: 447px;
    left: 367px;
  }
  .pop-up__btn:last-child, .pop-up__btn_close:last-child {
    top: 446px;
    left: 690px;
  }

  .dev-type {
    position: absolute;
    top: 23px;
    right: 22px;
    display: block;
    width: 44px;
    height: 44px;
    margin: 0;
  }
  .dev-name, .dev-time {
    margin-left: 0;
  }
  .dev-name {
    font-size: 27px;
    line-height: 31px;
  }
  .dev-time {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 21px;
  }
  .dev-list {
    margin-left: 0;
    overflow-x: hidden;
  }
  .dev-list__item {
    padding-right: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
  }
  .dev-list__item:first-child {
    padding-right: 11px;
  }
  .dev-slider {
    height: 580px;
    margin: 0;
  }
  .dev-slider_rotate {
    -webkit-transform: rotate(90deg) translate(-260px, -260px);
    -moz-transform: rotate(90deg) translate(-260px, -260px);
    -ms-transform: rotate(90deg) translate(-260px, -260px);
    -o-transform: rotate(90deg) translate(-260px, -260px);
    transform: rotate(90deg) translate(-260px, -260px);
  }
  .dev-slider__heat {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .dev-slider__heat:first-child {
    margin-top: 25px;
  }
  .dev-slider__heat:last-child {
    margin-bottom: 27px;
  }
  .dev-circ-slider, .dev-circ-slider_close {
    margin: 21px 0 0 182px;
  }
  .dev-circ-slider::before, .dev-circ-slider_close::before {
    top: 171px;
    height: 63px;
  }
  .dev-circ-slider::after, .dev-circ-slider_close::after {
    top: 172px;
    height: 60px;
  }
  .dev-circ-slider__type-num, .dev-circ-slider_close__type-num {
    position: absolute;
    top: 26px;
    right: 67px;
    display: block;
    width: 62px;
    height: 43px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
  }
}

/*# sourceMappingURL=src/css/style.css.map */
